{% block picture_variant_row %}
	<fieldset class="{{ variant_type_name }} form-group upload-variant upload-variant-{{ variant.name }} col-4">
		<legend class="col-form-label required">{{ form.vars.label ?? variant.label }}</legend>

		{{ form_errors(form) }}

		{% if variant_upload_button %}
			{{ form_widget(form.variantFile, {'attr': {'class': 'upload-variant-input ' ~ (not variant_upload_button ? 'hidden'), 'data-variants': [variant.name]|json_encode}}) }}
		{% endif %}

		{% set isEditingFile = (form.variantFile.vars.data is not null) %}

		{% set filePath = isEditingFile ? (form.variantFile.vars.data.publicUrl) : form.vars.data|uploadable(asset.name, variant.name) %}

		<div class="image-wrapper " style="margin-top:5px;background-image: url('{{ asset(filePath) }}?{{ 'now'|date('U') }}');">
		</div>

		{{ form_rest(form) }}
	</fieldset>
{% endblock %}
